body {
  background-color: #f6f7f0;
}
u {
  color: #e5ff53;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

@font-face {
  font-family: "Deutschlander";
  font-style: normal;
  font-weight: 400;
  src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
}

/* swiper misc css */
.swiper-slide p {
  margin-bottom: 0 !important;
}

.workImg-section.moving-text-start .hoverImg {
  transform: translateX(0%);
  transition: transform 5s ease;
}

.workImg-section.moving-text-parent .hoverImg {
  animation: move-text2 50s 1s linear infinite forwards;
}
/* .workImg-section:hover .moving-text-parent:hover .hoverImg:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
} */

.workImg-section.move-upper-white-bg .work-animation:after {
  left: 100%;
}
