---
import blackDiamond from "../../images/blackDiamond.png";

import caseStudyImg from "../../images/caseStudyImg.png";

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";

const props = Astro.props;
---

<section style="background-color: #1a1a1a; padding-top:4%">
  <div style="background-color:#e5ff53;">
    <div class="margins row">
      <div class="col-lg-4 col-md-4 col-sm-12 col4">
        <img src={blackDiamond} alt="" />
        <span set:html={props.yellowCompTitle} />
      </div>

      <div
        class="col-lg-8 col-md-8 col-sm-12 col8"
        style=" font-family: 'anek devanagari';"
        set:html={props.yellowCompText}
      />
    </div>
  </div>
</section>

<style>
  .margins {
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .col4 span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    color: black;
    display: inline-block;
  }
  .col4 img {
    margin-bottom: 15%;
    width: 2vw;
  }

  .col8 {
    display: flex;
    justify-content: center;
  }
  .col8 {
    width: 60%;

    text-align: justify;

    font-family: "anek devanagari";
    font-size: 1.2vw;
    word-spacing: 0.6ch;
  }

  @media screen and (max-width: 767px) {
    .col8 {
      font-size: 2.7vw;
      width: 100% !important;
    }
    .col4 span {
      font-size: 12vw;
    }
    .col4 img {
      margin-bottom: 7%;
      width: 3.5vw;
    }
  }
</style>
