---
import paraDiamond from "../../images/paraDiamond.png";

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import { Image, Picture } from "@astrojs/image/components";

const props = Astro.props;
---

{
  Object.keys(props).length && (
    <section style="padding-top: 2%; padding-bottom: 2%; background-color: #1a1a1a;">
      <div class="margins row">
        <div
          class="col-lg-6 col-md-6 col-sm-12 heading animate-title"
          set:html={props.belowCarousalTitle}
        />

        <div
          class="col-lg-5 col-md-5 col-sm-12 para animate-text"
          set:html={props.belowCarousalText}
        />
      </div>

      <div class="margins img animate-img">
        <Image
          alt=""
          format="webp"
          width={1600}
          height={900}
          src={props.fullSizeImg}
          class="optimization"
        />
      </div>
    </section>
  )
}
<style>
  .optimization {
    height: auto;
  }
  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .heading {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 6.8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    color: white;
  }

  .para {
    color: white;
    text-align: justify;

    font-family: "anek devanagari";
    font-size: 1.2vw;
    word-spacing: 0.6ch;
  }

  .para span {
    color: #e5ff53;
  }
  .row {
    margin-bottom: 4%;
  }

  .img img {
    width: 95%;
    border-radius: 0 6vw 0 6vw;
  }

  @media screen and (max-width: 767px) {
    .heading {
      font-size: 12vw;
    }
    .para {
      font-size: 2.7vw;
    }
    .img img {
      width: 100%;
      border-radius: 0 8vw 0 8vw;
    }
  }
  .animate-title {
    position: relative;
  }

  .animate-title::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: left 1s ease;
    overflow: hidden;
  }
  .animation-title::before {
    left: 100% !important;
  }
  .animate-text {
    position: relative;
  }
  .animate-text::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: top 1s ease;
    overflow: hidden;
  }
  .animation-text::before {
    top: 100%;
  }

  .animate-img {
    position: relative;
  }
  .animate-img::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: left 1s ease;
    overflow: hidden;
  }
  .img-animation::before {
    left: 100%;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Eases from "gsap";
  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline();
  tl.from(".animate-title", {
    scrollTrigger: {
      trigger: ".animate-title",
      start: "top 30%",
      end: "bottom 10%",
      toggleClass: "animation-title",
      scrub: true,
    },
  })
    .from(".animate-title", {
      scrollTrigger: {
        trigger: ".animate-text",
        start: "top 30%",
        end: "bottom 10%",
        toggleClass: "animation-text",
        scrub: true,
      },
    })
    .from(".animate-img", {
      scrollTrigger: {
        trigger: ".animate-img",
        start: "top 40%",
        end: "bottom top",
        toggleClass: "img-animation",
        scrub: true,
      },
    });
</script>
