---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";


const props = Astro.props;
---

<section style="padding-top: 4%; background-color: #1a1a1a;">
  <div class="margins heading">
    <div
      class="middleHead-animate"
      style=" width:50% ;text-align: center;"
      set:html={props.bottomCompTitle}
    />
  </div>
  <div class="contain">
    <div
      class="para contain-animate"
      style="margin: 0 7% 0 7%;"
      set:html={props.bottomCompText}
    />
  </div>
</section>

<style>
  .heading {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  /* 
    .margins {
    margin-left: 25%;
    margin-right: 25%;
  } */

  .para {
    color: white;
    text-align: center;

    margin-top: 2%;
    font-family: "anek devanagari";
    font-size: 1.2vw;
    word-spacing: 0.6ch;
    display: flex;
    justify-content: center;
  }
  p {
    width: 60%;
    line-height: 1.7;
  }

  .para span {
    color: #e5ff53;
  }
  @media screen and (max-width: 767px) {
    .heading {
      font-size: 12vw;
    }
    .para {
      font-size: 2.7vw;
    }
    .margins div {
      width: 75% !important;
    }
  }

  /* animation css */

  .middleHead-animate {
    position: relative;
  }
  .middleHead-animate:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: left 1s ease;
    overflow: hidden;
  }
  .middleHead-animation::before {
    left: 100%;
  }
  .contain {
    overflow: hidden;
  }
  .contain-animate {
    position: relative;
  }
  .contain-animate::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: top 1s ease;
    overflow: hidden;
  }
  .contain-animation:before {
    top: 100%;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Eases from "gsap";
  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline();
  tl.from(".middleHead-animate", {
    opacity: 0,
    scrollTrigger: {
      trigger: ".middleHead-animate",
      start: "top 85%",
      end: "bottom 5%",
      toggleClass: "middleHead-animation",
      scrub: true,
    },
  }).from(".contain-animate", {
    scrollTrigger: {
      trigger: ".contain-animate",
      start: "top 75%",
      end: "bottom 5%",
      toggleClass: "contain-animation",
      scrub: true,
    },
  });
</script>
