---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";


const props = Astro.props;
---




<section style="padding-top: 4%; background-color: #1a1a1a;">
   

    <div class="margins heading">
       <div style=" width:50% ;text-align: center;" set:html={ props.bottomCompTitle}>

         
        </div>

       
    </div>
    
    <div class="para contain " style="margin: 0 7% 0 7%;" set:html={ props.bottomCompText}>
       
    </div>

  
</section>


<style>

.heading{
     font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    color: white;
    text-align: center;
   display: flex;
    justify-content: center;
   
    }
/* 
    .margins {
    margin-left: 25%;
    margin-right: 25%;
  } */

  .para{
        color: white;
    text-align: center;
   
    margin-top: 2%;
    font-family: 'anek devanagari';
    font-size: 1.2vw;
    word-spacing: 0.6ch;
    display: flex;
    justify-content: center;
   
  
    }
    p{
        width: 60%;
        line-height: 1.7;
      
    }

    .para span{
        color:#e5ff53
    }
</style>