---
import yellowDiamond from "../../images/yellowDiamond.png";
//import { Image, Picture } from "@astrojs/image/components";

const props = Astro.props;
---

<section style="padding-top: 4%; background-color: #1a1a1a;">
  <div class="margins row">
    <div class="col-5 heading">
      <img
        alt="pointer"
        class=""
        src={yellowDiamond}
        loading="lazy"
        style="width: 7%;"
      />
      <span
        style="display: inline-block;"
        set:html={props.belowParallelImgTitle}
      />
    </div>

    <div class="col-6 para" set:html={props.belowParallelImgText} />
  </div>
</section>

<style>
  . {
    height: auto;
  }
  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .heading {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 6.8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    color: white;
  }

  .para {
    color: white;
    text-align: justify;
    margin-left: 3%;
    font-family: "anek devanagari";
    font-size: 1.2vw;
    word-spacing: 0.6ch;
  }

  .para u,
  .para span {
    color: #e5ff53;
    text-decoration: underline;
  }
</style>
