---
import paraDiamond from "../../images/paraDiamond.png";

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";

const props = Astro.props;
---

<section
  style="padding-top: 2%; padding-bottom: 2%; background-color: #1a1a1a;"
>
  <div class="margins row">
    <div
      class="col-lg-6 col-md-6 col-sm-12 heading"
      set:html={props.belowCarousalTitle}
    >
      <!-- <img style="width: 7%;" src={paraDiamond} alt="" /> -->
    </div>

    <div
      class="col-lg-5 col-md-5 col-sm-12 para"
      set:html={props.belowCarousalText}
    />
  </div>

  <div class="margins img">
    <img src={props.fullSizeImg} alt="" loading="lazy" />
  </div>
</section>

<style>
  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .heading {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 6.8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    color: white;
  }

  .para {
    color: white;
    text-align: justify;

    font-family: "anek devanagari";
    font-size: 1.2vw;
    word-spacing: 0.6ch;
  }

  .para span {
    color: #e5ff53;
  }
  .row {
    margin-bottom: 4%;
  }

  .img img {
    width: 95%;
    border-radius: 0 6vw 0 6vw;
  }

  @media screen and (max-width: 767px) {
    .heading {
      font-size: 12vw;
    }
    .para {
      font-size: 2.7vw;
    }
    .img img {
      width: 100%;
      border-radius: 0 8vw 0 8vw;
    }
  }
</style>
