---
import parallelImg1 from "../../images/parallelImg1.png";
import parallelImg2 from "../../images/parallelImg2.png";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
//import { Image, Picture } from "@astrojs/image/components";

const props = Astro.props;
---

{
  Object.keys(props).length && (
    <section style="padding-top: 4%; background-color: #1a1a1a;">
      <div class="margins imgs">
        <img class="img1  " src={props.parallelImg1} loading="lazy" />

        <img class="img2  " src={props.parallelImg2} loading="lazy" />
      </div>
    </section>
  )
}

<style>
  . {
    height: auto;
  }
  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .imgs img {
    width: 40%;
  }
  .imgs {
    display: flex;
    justify-content: center;
  }
  .img1 {
    margin-right: 3%;
    border-radius: 0 4vw 0 4vw;
    padding: 1%;
    border: 1.15px solid rgb(120, 119, 119);
    margin-bottom: 4%;
  }
  .img2 {
    border-radius: 0 4vw 0 4vw;
    padding: 1%;
    border: 1.15px solid rgb(120, 119, 119);
    margin-top: 4%;
  }
</style>
