---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Ink In Caps - About Us">
    <section class="margins">
        <div style="padding-top: 5%;">
          <div id="main" class="d-flex">
            <div id="div1">
              <span>DEDUCE ENGAGE ENABLE</span>
            </div>
            
          </div>
          <div class="d-flex" id="main2">
            <div id="div1" class="paraDiv">
              <span class="para"
                >Ink In Caps is an award-winning <strong class="strong">
                  Tech+Design+Experience</strong
                > Agency that capacitates Visionary Brands to unlock Augmented Growth and
                boost conversations with their audiences. Intrigue Rush?</span
              >
            </div>
           
          </div>
        
        </div>
      </section>

   <style>


#main #div1 span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 13vw;
    font-weight: 400;
    font-style: normal;
    /* padding-top: 2%; */
  }
 =
  #main #div2 {
    padding-left: 3%;
  }
 
  #main2 #div1 span {
    font-size: 1.25rem;
    font-family: "Anek Devanagari";
    text-align: justify;
  }





  .para {
    opacity: 75%;
  }

  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }
   </style>
  </Layout>