---
import Layout from "../layouts/Layout.astro"
import blogDetails from "../images/blogDetails.png"
---



<Layout title="Ink In Caps - Blog Details">

     <section class="bgColor">

        <div class="margins" style="text-align: center; padding-top: 4%;">

            <span class="blogHeadline">Exploring a better version of yourself ft. The Metaverse</span>

        </div>
        <div class="margins" style="margin-top: 1.4%; margin-bottom: 3.5%; text-align: center;">
            <div class="border-box"> <span>Design & Technology</span></div>
            <span class="authorName">By Pallavi.Jain</span>
            <span class="dot"></span>
            <span class="readTime">5 min read</span>
        </div>

        <div class="margins">
            <img src={blogDetails} alt="" style="width: 100%;">
        </div>

     </section>
     <section>

        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quia provident, distinctio eligendi repellat culpa ipsa esse sequi sint, illum natus nihil dolores? Minus natus adipisci sit, repellat eum ullam dolorum! Non veritatis sequi quia at, iste, vero omnis fuga porro laudantium suscipit ducimus velit aliquam nemo, ullam minus veniam recusandae soluta voluptate? Minus, tempore. Hic sapiente harum cumque iste nihil numquam, id architecto veritatis aliquam sit nulla dolor veniam libero consectetur vitae quasi sequi sed neque expedita! Quibusdam distinctio ab dolorem aperiam quam. Assumenda nam dolor alias, qui nobis placeat, eligendi saepe aliquid ducimus nihil delectus ipsum praesentium? Similique, minima nulla illo adipisci officia placeat deleniti! Neque, quidem ducimus nulla dignissimos, mollitia soluta facilis error, dolores ipsum cupiditate eum nesciunt atque enim quas eius illum dolore cum. Hic aperiam iste blanditiis illum alias veritatis quam, eaque cupiditate vero doloribus nisi atque, dolores ipsum odio similique commodi, cumque pariatur non a est labore. Molestias voluptates deserunt aspernatur eligendi. Asperiores temporibus ea blanditiis rerum ut consequuntur iure. Aliquid vitae dolore ipsa distinctio rem ducimus unde dicta, ad eaque sequi. Ullam eius odit nisi animi architecto cum, doloremque rem! Magnam libero ad omnis beatae laborum, laudantium doloremque, error itaque corrupti animi velit?
        </p>

        <ul>
            <li>dgahd</li>
            <li>sdfsdf</li>
            <li>sdf</li>
            <li>sdf</li>
            <li>dfgd</li>
            <li>dfggd</li>
            <li>dfhh</li>
            <li>fghh</li>
        </ul>
     </section>

</Layout>


<style>

.margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .blogHeadline{
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 0.85;
  }

  .border-box{
    background-color: #e5ff53;
    text-align: center;
    padding: 0.18vw;
    width: 8vw;
    border-radius: 1.5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.65;
      
    }

    .border-box span{
      font-family: 'anek devanagari';
      font-size: 0.7vw;

      font-weight: 500;

      vertical-align: middle;
    }


  .authorName{
      font-family: 'anek devanagari';
      font-size: 0.7vw;

      font-weight: 400;
      color: white;
      margin-left: 1%;
    }
    .dot{
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      display: inline-block;
      margin-bottom: 0.2%;
    }
    .readTime{
      font-family: 'anek devanagari';
      font-size: 0.7vw;

      font-weight: 400;
      color: white;
     
      opacity: 50%;
    }
    .bgColor{
        background: linear-gradient( #1a1a1a 60%, #f6f7f0 40%);
    }
</style>