---
import creative1 from "../../images/creative1.png";
import yellowGo from "../../images/yellowGo2.png";
import creative2 from "../../images/creative2.png";
import { Image, Picture } from "@astrojs/image/components";
---

<section
  style="background-color: #1a1a1a; padding: 5% 9% 2% 9%; border-radius: 3.8vw 3.8vw 0 0 ;"
>
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12">
      <span class="creative">More From Our Creative Mind</span>
      <br />
      <a href="/blog-gallery/" aria-label="view all">
        <div class="viewAll btn">View All</div>
      </a>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
      <Image
        alt=""
        format="webp"
        class="creative1 optimization"
        src={creative1}
        style="width: 95%; margin-bottom: 5%;"
        alt=""
        loading="lazy"
      />

      <span class="imgText"
        >Get Everyone's Attention With These Amazing Experiences</span
      >

      <a
        href="get-everyones-attention-with-these-amazing-experiences"
        aria-label="open"
      >
        <Image
          alt=""
          format="webp"
          class="btn goBtn optimization"
          src={yellowGo}
          alt=""
        /></a
      >
      <div style="margin-top: 3.4%;">
        <div class="border-box"><span>Design & Technology</span></div>
        <span class="authorName">By Pallavi.Jain</span>
        <span class="dot"></span>
        <span class="readTime">5 min read</span>
      </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
      <Image
        alt=""
        format="webp"
        class="creative2 optimization"
        src={creative2}
        style="width: 95%; margin-bottom: 5%;"
        loading="lazy"
      />

      <span class="imgText"
        >Is 3D Projection Mapping The Future Or The Present?</span
      >

      <a
        href="is-3d-projection-mapping-the-future-or-the-present"
        aria-label="open"
      >
        <Image
          alt=""
          format="webp"
          class="btn goBtn optimization"
          src={yellowGo}
        /></a
      >
      <div style="margin-top: 3.4%;">
        <div class="border-box"><span>Design & Technology</span></div>
        <span class="authorName">By Pallavi.Jain</span>
        <span class="dot"></span>
        <span class="readTime">5 min read</span>
      </div>
    </div>
  </div>
</section>

<style>
  .optimization {
    height: auto;
  }
  .creative {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 9.5vw;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 0.85;
    padding-right: 5%;
  }

  .imgText {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 3.7vw;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 0.85;
    letter-spacing: 0.8px;
  }

  .goBtn {
    width: 18%;
    vertical-align: top;
  }

  .border-box {
    background-color: #e5ff53;
    text-align: center;
    padding: 0.18vw;
    width: 8vw;
    border-radius: 1.5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.65;
  }
  .border-box span {
    font-family: "anek devanagari";
    font-size: 0.7vw;

    font-weight: 500;

    vertical-align: middle;
  }

  .authorName {
    font-family: "anek devanagari";
    font-size: 0.7vw;

    font-weight: 400;
    color: white;
    margin-left: 1%;
  }
  .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin-bottom: 0.2%;
  }
  .readTime {
    font-family: "anek devanagari";
    font-size: 0.7vw;

    font-weight: 400;
    color: white;

    opacity: 50%;
  }

  .viewAll {
    border: 1.5px solid rgb(111, 111, 110);
    font-family: "anek devanagari";
    border-radius: 5rem;
    width: fit-content;
    padding: 2.3%;
    padding-right: 8%;
    padding-left: 8%;

    margin-top: 3%;
    font-weight: 400;
    font-size: 0.7vw;
    color: white;
  }

  .viewAll:hover {
    color: white;
    font-weight: 500;
  }

  @media screen and (max-width: 767px) {
    .viewAll {
      display: none;
    }
    .creative {
      font-size: 18vw;
    }
    .creative1,
    .creative2 {
      width: 100% !important;
      margin-top: 4%;
    }
    .imgText {
      font-size: 10vw;
    }
    .border-box {
      width: 20vw;
    }
    .border-box span,
    .authorName,
    .readTime {
      font-size: 2vw;
    }
  }
</style>
