---

import blogDetails from "../../images/blogDetails.png"
---


<section class="bgColor">

    <div class="margins" style="text-align: center; padding-top: 4%;">

        <span class="blogHeadline">Exploring a better version of yourself ft. The Metaverse</span>

    </div>
    <div class="margins" style="margin-top: 1.4%; margin-bottom: 3.5%; text-align: center;">
        <div class="border-box"> <span>Design & Technology</span></div>
        <span class="authorName">By Pallavi.Jain</span>
        <span class="dot"></span>
        <span class="readTime">5 min read</span>
    </div>

    <div class="margins">
        <img src={blogDetails} alt="" style="width: 100%;">
    </div>

 </section>



 
 <style>
    .margins {
        margin-left: 7%;
        margin-right: 7%;
      }
    
      .blogHeadline{
        font-family: "Deutschlander";
        text-transform: uppercase;
        font-size: 7vw;
        font-weight: 400;
        font-style: normal;
        color: white;
        line-height: 0.85;
      }
    
      .border-box{
        background-color: #e5ff53;
        text-align: center;
        padding: 0.18vw;
        width: 8vw;
        border-radius: 1.5px;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.65;
          
        }
    
        .border-box span{
          font-family: 'anek devanagari';
          font-size: 0.7vw;
    
          font-weight: 500;
    
          vertical-align: middle;
        }
    
    
      .authorName{
          font-family: 'anek devanagari';
          font-size: 0.7vw;
    
          font-weight: 400;
          color: white;
          margin-left: 1%;
        }
        .dot{
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: white;
          display: inline-block;
          margin-bottom: 0.2%;
        }
        .readTime{
          font-family: 'anek devanagari';
          font-size: 0.7vw;
    
          font-weight: 400;
          color: white;
         
          opacity: 50%;
        }
        .bgColor{
            background: linear-gradient( #1a1a1a 60%, #f6f7f0 40%);
            padding-top: 9vh;
        }
    </style>
    
    <style is:global>
      .turnBlack{
        background: transparent;
        position: absolute;
        width: 100%;
      }
     
      .list ul li a {
     
        color: white;
        opacity: 50%;
      }
      path{
        fill: white;
      }
    
      .connect, .circles{
        fill: #1a1a1a;
      }
       .oval{
        fill: white;
       }
    
       .tele{
        fill: white;
       }
       .menu p{
        color: white;
       }
       .menu .s1, .menu .s2{
        border: 1px solid white;
       }
    
    
     
    </style>